* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
body {
    background-color: white;
}
header {
    background-color: #3e4049;
    padding: 20px 0;
    color:#3e4049;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
header h1 {
font-weight: bold;
font-size: 50px;
display: inline-block;
}

h1 span {
    background-color: #75dee4;
    padding: 7px 10px 7px 75px;
    border: 10px;
    margin: 0;
    text-align: left;
}

header nav {
    padding: 10px 0 20px 0;
    margin-right: 75px;
    float: right;
    font-size: 25px;
    color: #75dee4;
    text-decoration: none;
}

header nav ul li  {
    display: inline-block;
    margin: 0 20px;
    color: #75dee4; 
     
}

header nav ul li a {
    color: #75dee4;
text-decoration: underline 4px ; 
text-underline-offset: 7px;
}

.hero {
    background-image: url("../images/website\ hero.jpeg");
    height: 225px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-box h1 {
    height: 55px;
    padding: 5px 15px ;
    float: right;
   margin: 145px 90px 40px;
    font-size: 40px;
    background-color: #75dee4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3e4049;
    text-align: center;
}

.side-titles {
    font-size: 40px;
    color: #485773;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50px;
    margin-left: 125px ; 
    padding: 45px 40px ; 
}
.side-titles h1 {
    text-align: right;
    display: inline-block;
    border-right: 5px solid #485773;
    padding: 0 15px 100px 10px;

}
.about-me article {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #485773;


float: right;
overflow: auto;
width: 1411px;
font-size: 20px;
line-height: 1.6;
padding: 30px 30px ;
margin: 0 130px 0 5px;
}
.side-titles1 {
    font-size: 40px;
    color: #485773;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50px;
    margin-left: 100px ; 
    padding-top: 10px; 
}
.side-titles1 h1 {
    text-align: right;
    display: inline-block;
    border-right: 5px solid #485773;
           margin-top: 50px;
}

