* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    background-color: #383d4e;
    padding: 20px 85px;
    padding-left: 0;
    color:#3e4049;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
font-weight: bold;
font-size: 60px;
display: inline-block;
background-color: #75dee4;
padding:  5px 100px;
padding-right: 10px;
}
header a {
    text-decoration: none;
    color: #3e4049;
}
header nav {
margin: 15px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header nav ul li a {
    margin: 0 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: #75dee4;
    padding: 7px 15px;
    border-bottom: 5px solid #75dee4;
}
section {
    padding: 60px;
}
.hero {
    background-image: url("../images/website\ hero.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    height: 250px;
    padding-bottom: 30px;
    padding-right: 120px;
    
}
.hero-box h1{
    font-size: 55px;
    background-color: #75dee4;
    color: #383d4e;
    padding: 7px 10px;
    margin-top: 75px;   
}
.section-title {
    font-size: 60px;
    color: #383d4e;
   width: 13%;
    text-align: right;
  float: left;
    
}
.primary-border {
    border-right: 5px solid #383d4e;
    padding-right: 20px;
    height: 250px;
}
.longer-height {
    height: 1390px;
}
.intro p {
    font-size: 20px;
    line-height: 1.6;
    color: #383d4e;
    width: 85%;
    text-align: left;
    margin: 0 auto;
float: right;
}
.intro {
 display: inline-block;
 flex-wrap: wrap;
 flex: 1 30%;
 justify-content: space-between;
 padding-right: 90px;
 padding-left: 90px;
 align-items: center;
}

.run-buddy-img {
    position: relative;
    display: flex;
}
.bottom-left {
    position: absolute;
    background-color: #75dee4;
    font-size: 20px;
   bottom: 4%;
   left: 2%;
   width: 20%;
  text-align: center;
  color: #383d4e;
}
.bottom-left h1 {
    font-size: 50px;
}
.run-buddy-img img {
    border: 7px solid #75dee4;
    height: auto;
    margin:15px 0 15px 30px;
    max-width: 100%;
    width: 1500px;
    
}
.my-projects {
    align-items: center;
    padding: 0 90px;
    
}
.small-imgs {
    position: relative;
    display: inline-flex;

}
.small-imgs img {
    width: 717px;
    height: 250px;
    border: 5px solid #75dee4;
    margin: 15px 0 15px 30px;
    margin-top: 2%;
    display: inline-block;
}

.bottom-left-small {
  position: absolute;
    background-color: #75dee4;
    font-size: 20px;
    bottom: 25%;
    left: 4.5%;
    width: 25%;
    text-align: center;
    color: #383d4e;
    
   

  
}

.bottom-left-small h1 {
    font-size: 30px;
    flex: 1;
}

.flex{
    display: flex;
}


